.PostDiv {
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
    padding: 5%;
    border-radius: 16px;
    background-color: cornflowerblue;
}

.PostName {
  
    
    
    
}

.imgbox {
    background-color: cornflowerblue;
    position: relative;
    


}

.PostImg {
    max-height: 14rem;
    width: 85%;
    border-radius: 16px;
    
}

.btnbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btnDel {
    background-color: red;
    border-radius: 30%;
    font-size: large;
}

.btnUp {
    background-color: yellow;
    border-radius: 30%;
    font-size: large;
}

.btnLink {
    background-color: royalblue;
    border-color: blue;
    font-size: larger;
    border-radius: 16px;
} 