.PostDiv {
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
    padding: 5%;
    border-radius: 16px;
    background-color: cornflowerblue;
    border: solid black 3px;
    box-shadow: 3px 3px 0 0 ;
}

.PostName {
  
    
    
    
}

.imgbox {
    background-color: cornflowerblue;
    position: relative;
    border: none;
    


}

.PostImg {
    max-height: 14rem;
    width: 85%;
    border-radius: 16px;
    border: solid black 2px;
    
}

.btnbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btnDel {
    background-color: red;
    border-radius: 30%;
    font-size: large;
}

.btnUp {
    background-color: yellow;
    color: black;
    border-radius: 30%;
    font-size: large;
}

.btnLink {
    background-color: royalblue;
    border: solid black;
    font-size: large;
    border-radius: 16px;
    
} 