.PostDiv {
    margin: 5%;
    padding: 5%;
    border-radius: 25%;
    background-color: cornflowerblue;
}

.PostName {
  
    
    
    
}

.imgbox {
    background-color: cornflowerblue;
    position: relative;


}

.PostImg {
    max-height: 14rem;
    width: auto;
    border-radius: 15%;
    
}

.btnbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btnDel {
    background-color: red;
    border-radius: 30%;
    font-size: large;
}

.btnUp {
    background-color: yellow;
    border-radius: 30%;
    font-size: large;
}
