.PostDiv {
    margin: 5%;
    padding: 5%;
}

.PostName {
  
    
    
    
}

.imgbox {
    background-color: aliceblue;
    position: relative;

}

.PostImg {
    height: 50%;
    width: 50%;
    
}