.PostDiv {
    margin: 5%;
    padding: 5%;
    border-radius: 25%;
    background-color: cornflowerblue;
}

.PostName {
  
    
    
    
}

.imgbox {
    background-color: cornflowerblue;
    position: relative;


}

.PostImg {
    max-height: 14rem;
    width: auto;
    border-radius: 15%;
    
}

