button {
  background-color: darkblue;
  color: white;
  height: 30px;
  border-radius: 10px;
  border: lightblue;
  box-shadow: 1px 1px 0 0  black;
}


.postDiv {
  padding-top: 2rem;
  margin-top: 10rem;
  border: 5px solid lightblue;
  border-radius: 10px;
  margin: auto;
    margin-top: 10rem;
}